.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.overlay {
  position: absolute;
  width: 86vmin;
  height: 86vmin;
  left: 50vw;
  margin-left: -43vmin;
  top: 50vh;
  margin-top: -43vmin;
  background: red;
  /* background: url('https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif'); */
  background: url('nina_tami_overlay_crop_2.jpg');
  background-size: cover;
  background-position: center;
  
  mix-blend-mode: multiply;

  pointer-events: none;
}

@media only screen and (max-width: 550px), only screen and (max-height: 550px) {
  .hide-mobile {
    display: none;
  }
}

